<div class="p-grid">
<p-menu [model]="items" class="p-col-3" [style]="{'min-width':'300px'}"></p-menu>
  <div class="p-col">
    <p-toolbar>
    <div class="ui-toolbar-group-left">
        <i class="pi pi-bars"></i>
        <button pButton type="button" label="New" icon="pi pi-plus"></button>
        <button pButton type="button" label="Upload" icon="pi pi-upload" class="ui-button-success"></button>
        <p-splitButton label="Save" icon="pi pi-check" [model]="items" styleClass="ui-button-warning"></p-splitButton>
    </div>

    <div class="ui-toolbar-group-right">
        <button pButton type="button" icon="pi pi-search"></button>
        <button pButton type="button" icon="pi pi-calendar" class="ui-button-success"></button>
        <button pButton type="button" icon="pi pi-times" class="ui-button-danger"></button>
    </div>
</p-toolbar>
<!--  -->
<router-outlet></router-outlet></div>
</div>
