<div class="card " style="width: 50em;margin:0 auto;">
  <div class="card-body">
    <h5 class="card-title">Select PROGRAM</h5>
    <p class="card-text">Select the program from the list below to continue. You will be redirected to your dashboard.</p>
    <div class="list-group">
<!--  -->
      <div *ngFor="let p of prgmList.programList">
        <a class="prgm list-group-item list-group-item-action flex-column align-items-start" (click)="selectPrgm(p)">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{p.id}}</h5>
            <h5 class="mb-1">{{p.name}}</h5>
            <small>program ID: PROGRAM</small>
          </div>
          <p class="mb-1"></p>
        </a>
      </div>
<!--  -->
    </div>
  </div>
</div>
