<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar>Trainee Dashboard</mat-toolbar>
    <mat-nav-list class="nav-list">
      <mat-list-item><a [routerLink]="['./#']">Account</a></mat-list-item>
      <mat-list-item><a [routerLink]="['./myTasks']">My Tasks</a></mat-list-item>
      <mat-list-item><a [routerLink]="['./#']">All tasks</a></mat-list-item>
      <mat-list-item><a [routerLink]="['./#']">New Program</a></mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="title">Trainee Dashboard</span>
      <div matTooltip="LOGOUT"style="cursor:pointer; font-size: 25px;" class="topright" (click)="1+1"><mat-icon aria-label="Side nav toggle icon">input</mat-icon></div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
