<div id="page">
  <!-- 1 -->
  <mat-horizontal-stepper [linear]="isLinear" #stepper (selectionChange)="stepChange($event)">
    <br><mat-divider></mat-divider>
    <mat-step>
      <ng-template matStepLabel>Create New Task</ng-template>
      <div class="forms f1">
      <mat-form-field appearance="outline" id="tname">
        <input [(ngModel)]="taskModel.name" matInput type="text" name="name" id="name" placeholder="Task name">
      </mat-form-field><br>
      <p-editor [(ngModel)]="taskModel.description" [style]="{'height':'320px'}"></p-editor>
      <div>
        <button class="nxt-btn" mat-stroked-button color="primary" matStepperNext>Next</button>
      </div>
    </div>
    </mat-step>
    <!-- 2 -->
    <mat-step>
          <ng-template matStepLabel>Schedule Task</ng-template>
          <div class="forms f2">
            <span class="label-span">Task Start Date and Time</span>
            <mat-form-field class="date-time" appearance="outline">
              <mat-label>Task Start Date and Time</mat-label>
              <input matInput [(ngModel)]="taskModel.startTime" matInput type="datetime-local" name="startTime" id="start">
            </mat-form-field><br>
            <span class="label-span">Task End Date and Time</span>
            <mat-form-field class="date-time" appearance="outline">
                <mat-label>Task End Date and Time</mat-label>
              <input matInput [(ngModel)]="taskModel.deadline" matInput type="datetime-local" name="deadline" id="deadline">
            </mat-form-field><br>
            <hr>
            <!--  -->
            <!--  -->
          </div>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
      </mat-step>
      <!-- 3 -->
      <mat-step>
        <form>
          <ng-template matStepLabel>Assign Task</ng-template>
          <div class="forms f3">
            <p-pickList  [source]= "sourceUser" [target]="assignedUser" sourceHeader="All Users" targetHeader="Users Invited" [responsive]="true" filterBy="name"
            dragdrop="true" sourceFilterPlaceholder="Search by name" targetFilterPlaceholder="Search by name" [sourceStyle]="{'height':'800px'}" [targetStyle]="{'height':'300px'}">
            <ng-template let-u pTemplate="item">
              <div class="ui-helper-clearfix " style="display: flex;flex-wrap: nowrap;">
                <div style="position: relative;display:flex;align-items:center;margin:2px 2px 2px 2px">
                <mat-icon style="font-size: 35px;">person</mat-icon></div>
                <ul><li matToolTip="UserID">{{u.id}}</li>
                  <li matToolTip="User Username">{{u.username}}</li>
                  <li matToolTip="User Department">{{u.department}}</li>
                </ul>
              </div>
            </ng-template>
            </p-pickList>
          </div>
          <div>
            <button mat-button matStepperNext (click)="initialize()">Done</button>
          </div>
        </form>
      </mat-step>
      <!-- 4 -->
      <mat-step>
        <ng-template matStepLabel>Review Task</ng-template>
        <div class="forms f3">
        <div>
          <button class="btn btn-lg btn-info" mat-button matStepperNext><mat-icon>done</mat-icon>Correct</button>
        </div>
        <app-new-task-review *ngIf="showReview" [newTaskModel]="newTaskModel"></app-new-task-review>
        <mat-card>
          <mat-card-title>Description</mat-card-title>
          <mat-card-content>
            <div id="decriptionBox">
            </div>
          </mat-card-content>
        </mat-card>
        </div>
      </mat-step>
      <!-- 5 -->
      <mat-step>
        <div class="forms f3">
          <ng-template matStepLabel>Publish</ng-template>
          <div>
            <button (click)="onPublish()" mat-raised-button >Publish</button>
          </div>
          </div>
      </mat-step>
  </mat-horizontal-stepper>
</div>
