<p-toast [modal]="true"></p-toast>
<div id="page">
  <!-- 1 -->
  <mat-horizontal-stepper [linear]="isLinear" #stepper (selectionChange)="stepChange($event)">
    <br><mat-divider></mat-divider>
    <mat-step>
      <ng-template matStepLabel>Create New Task</ng-template>
      <div>
        <button *ngIf="taskModel.name && taskModel.description" class="nxt-btn" mat-stroked-button color="primary" matStepperNext>Next</button>
      </div>
      <div class="forms f1">
      <mat-form-field appearance="outline" id="tname">
        <input [(ngModel)]="taskModel.name" matInput type="text" name="name" id="name" placeholder="Task name">
      </mat-form-field><br>
      <div>
      <p-editor [(ngModel)]="taskModel.description" [style]="{'height':'320px'}"></p-editor>
      </div>
    </div>

    </mat-step>
    <!-- 2 -->
    <mat-step>
          <ng-template matStepLabel>Schedule Task</ng-template>
          <div class="forms f2">
            <div>
              <button *ngIf="taskModel.startTime && taskModel.deadline" class="nxt-btn" mat-stroked-button matStepperNext>Next</button>
            </div>
            <span class="label-span">Task Start Date and Time</span>
            <mat-form-field class="date-time" appearance="outline">
              <mat-label>Task Start Date and Time</mat-label>
              <input matInput [(ngModel)]="taskModel.startTime" matInput type="datetime-local" name="startTime" id="start">
            </mat-form-field><br>
            <span class="label-span">Task End Date and Time</span>
            <mat-form-field class="date-time" appearance="outline">
                <mat-label>Task End Date and Time</mat-label>
              <input matInput [(ngModel)]="taskModel.deadline" matInput type="datetime-local" name="deadline" id="deadline">
            </mat-form-field><br>
            <hr>
            <!--  -->
            <!--  -->
          </div>
      </mat-step>
      <!-- 3 -->
      <mat-step>
        <form>
          <ng-template matStepLabel>Assign Task</ng-template>
          <div>
            <button *ngIf="assignedUser !== []" mat-stroked-button matStepperNext class="nxt-btn" >Done</button>
          </div>
          <div class="forms f3">
            <p-pickList  [source]= "sourceUser" [target]="assignedUser" sourceHeader="All Users" targetHeader="Users Invited" [responsive]="true" filterBy="name"
            dragdrop="true" sourceFilterPlaceholder="Search by name" targetFilterPlaceholder="Search by name" [sourceStyle]="{'height':'60vh'}" [targetStyle]="{'height':'60vh'}">
            <ng-template let-u pTemplate="item">
              <div class="ui-helper-clearfix " style="display: flex;flex-wrap: nowrap;">
                <div style="position: relative;display:flex;align-items:center;margin:2px 2px 2px 2px">
                <mat-icon style="font-size: 35px;">person</mat-icon></div>
                <ul>
                  <li matToolTip="User ID">{{u.id}}</li>
                  <li matToolTip="User Name">{{u.name}}</li>
                  <li matToolTip="User Email">{{u.email}}</li>
                  <hr>
                </ul>
              </div>
            </ng-template>
            </p-pickList>
          </div>
        </form>
      </mat-step>
      <!-- 4 -->
      <mat-step>
        <ng-template matStepLabel>Review and Publish</ng-template>
        <div class="forms f3">
        <div>
          <button (click)="onPublish()" class="nxt-btn" mat-stroked-button><mat-icon>done</mat-icon>PUBLISH TASK</button>
        </div>
        <app-new-task-review *ngIf="showReview" [task]="taskModel"></app-new-task-review>
        <mat-card>
          <mat-card-title>Description</mat-card-title>
          <mat-card-content>
            <div id="decriptionBox">
            </div>
          </mat-card-content>
        </mat-card>
        </div>
      </mat-step>
  </mat-horizontal-stepper>
</div>
