.label-span {
  margin: 20px;
}

#tname {
  margin-top: 30px;
  width: 30%;
}
.form {
  margin: 2em;
}
.nxt-btn {
  margin: 5px;
  height: 38px;
  font-size: 18px;

}

#edt {
  resize: both;
  overflow: auto;
}
