<form>
    <div class="form-group row">
      <label for="f1" class="col-sm-2 col-form-label">Task Name</label>
      <div class="col-sm-10">
        <input type="text" readonly class="form-control-plaintext" class="f1" value="{{task.name}}">
      </div>
    </div>

    <div class="form-group row">
      <label for="f1" class="col-sm-2 col-form-label">Start Time</label>
      <div class="col-sm-10">
        <input type="text" readonly class="form-control-plaintext" class="f1" value="{{task.startTime}}">
      </div>
    </div>

    <div class="form-group row">
      <label for="f1" class="col-sm-2 col-form-label">Deadline</label>
      <div class="col-sm-10">
        <input type="text" readonly class="form-control-plaintext" class="f1" value="{{task.deadline}}">
      </div>
    </div>
    <div class="form-group row">
      <label for="f1" class="col-sm-2 col-form-label">Program </label>
      <div class="col-sm-10">
        <input type="text" readonly class="form-control-plaintext" class="f1" value="{{task.program}}">
      </div>
    </div>
    <div class="form-group row">
      <label for="f1" class="col-sm-2 col-form-label">Created at</label>
      <div class="col-sm-10">
        <input type="text" readonly class="form-control-plaintext" class="f1" value="{{task.createdTime}}">
      </div>
    </div>
  </form>
