:host {
  display: flex;
  justify-content: center;
  margin: 100px 0px;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}
mat-card {
  box-shadow:  5px 15px 10px rgba(0,0,0,0.08);
}
mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

.error {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: red;
}

.button {
  display: flex;
  justify-content: flex-end;
  background-color: rgb(250, 242, 228);
}

#form-page {
}
