/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.date-time {
  width: 300px;
  font-size: 22px;
}
.topright {
  position: absolute;
  right: 2em;
  font-size: 18px;
}

