:host {
  display: flex;
  justify-content: center;
  margin: 100px 0px;
}

#page{
  box-shadow: -17px 16px 32px 2px rgba(79,79,79,1);
}

.form{
  margin: 25px auto;
}

label {
  margin-bottom: 0.3rem !important;
}
